body{
    background-color: #3a86ff;
    font-family:sans-serif
}

.title{
    text-align: center;
    margin: 1em;
    border: 1px solid white;
}

img{
    width: 100px;
    height: 100px;
}
.piz{
    margin: 0.5em;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid;
    flex: 1;
}

.pizza{
    background-color: #ff006e;
    
}

.pizza-1{
    background-color: #fb5607;
   
}
.pizza-2{
    background-color: #ffbe0b;
    
}

.contact{
    background-color: #8338ec;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}

.details{
    flex: 1;
}

.address{
    text-align: right;
    flex: 1; 
}


@media (min-width:960px){
    .pizzas{
        display: flex;
    }
}

